<p id="notice"><%= notice %></p>

<h1>Select Options</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @select_options.each do |select_option| %>
      <tr>
        <td><%= select_option.name %></td>
        <td><%= link_to 'Show', select_option %></td>
        <td><%= link_to 'Edit', edit_select_option_path(select_option) %></td>
        <td><%= link_to 'Destroy', select_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Select Option', new_select_option_path %>
