<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { data: { cy: "form_for_registration" }} do |f| %>
<h5><u><%= t("signup") %></u></h5>
<p>
  <%= f.input :email%>
  <br>
  <%= f.input :password %>
  <br />
  <%= f.input :password_confirmation %>
</p>
  <%= f.submit "Anmelden", class: "btn btn-light border my-2" %>
<% end %>
