<% account = work_time.account.present? ? work_time.account : account %>

<%= simple_form_for(work_time, html: { data: { cy: "work_time_form" }}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :task, placeholder: WorkTime.human_attribute_name("task_placeholder") %>
    <%= f.input :minutes, placeholder: WorkTime.human_attribute_name("minutes_placeholder") %>
    <%= f.input :datetime, discard_hour: true %>

    <%= f.simple_fields_for :work_time do |category_form| %>
      <% account.categories.each do |category| %>
        <%= category_form.input category.name.parameterize.underscore.to_sym %>
      <% end %>
    <% end %>
    <%= f.hidden_field :account_id, value: account.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "primary-button" %>
  </div>
<% end %>
