
  <table class="table table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col"><%= WorkTime.human_attribute_name("created_at") %></th>
        <th scope="col"><%= WorkTime.human_attribute_name("task") %></th>
        <th scope="col"><%= WorkTime.human_attribute_name("time") %></th>
        <% account.categories.each do |category| %>
          <th scope="col"><%= category.name %></th>
        <% end %>
        <th scope="col"><%= t("actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% earliest_work_time = start_date.blank? ? WorkTime.order(:datetime).first.datetime : start_date %>
      <% latest_work_time = end_date.blank? ? WorkTime.order(:datetime).last.datetime : end_date %>
      <% WorkTime.where(account_id: account.id).where(datetime: earliest_work_time..latest_work_time).order(:datetime).reverse_order.each do |work_time| %>
      <tr>
        <td><%= l(work_time.datetime, format: :short) %></td>
        <td><%= work_time.task %></td>
        <td><%= WorkTime.in_hours(work_time.minutes) %></td>
        <% account.categories.each do |category| %>
          <td data-category="<%= category.name %>"><%= work_time.categories[category.name] unless work_time.categories[category.name].blank? %></td>
        <% end %>
        <td>
        <div class="d-grid gap-0">
          <%= link_to edit_work_time_path(work_time), class: "action_button", data: { cy: "edit_work_time" } do %>
            <i class="bi bi-pencil-square"></i> <%= t("edit") %>
          <% end %>
            <br>
          <%= link_to work_time, method: :delete, data: { confirm: 'Are you sure?', cy: "delete_work_time" }, class: "action_delete_button" do %>
              <i class="bi bi-x-square"></i> <%= t("delete") %>
          <% end %>
          </div>
        </td>
      </tr>
      <% end %>
      <tr class="table-secondary">
        <td>Total </td>
        <td><%= WorkTime.where(account_id: account.id).where(datetime: earliest_work_time..latest_work_time).count %> <%= WorkTime.human_attribute_name("tasks") %></td>
        <% sum_of_all_minutes = WorkTime.where(account_id: account.id).where(datetime: earliest_work_time..latest_work_time).sum(:minutes) %>
        <td>
          <%= WorkTime.in_hours(sum_of_all_minutes) %>
        </td>
        <% account.categories.each do |category| %>
          <td></td>
        <% end %>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
