<footer class="footer mt-auto py-5 bg-a-color">
  <div class="container-fluid text-center text-white">

  <p>
    Impressum |
    <% if user_signed_in? %>
  <%= t("logged_in_as") %> <u><%= current_user.email %></u><br />
  <%= link_to(t("logout"), destroy_user_session_path, method: :delete, class: "text-white", data: { cy: "logout" }) %>
   |
  <%= link_to t("edit_account"), edit_user_registration_path, class: "text-white" %>
   |
  <%= link_to t("delete_account"), registration_path(current_user), class: "text-white", data: { confirm: "Sind Sie sicher?", cy: "destroy_user_account" }, method: :delete %>
<% else %>
  <%= link_to(t('login'), new_user_session_path, class: "text-white", data: { cy: "login" }) %>
   |
  <%= link_to t('signup'), new_user_registration_path, class:"text-white" %>
<% end %>
  <br />
    Kontakt - <%= mail_to "s.raess@me.com", "s.raess@me.com", class:"text-white" %>

  </p>
  </div>
</footer>
