<div class="standard-card ">
  <div class="card-body">
    <h5 class="card-title"><%= account.name %></h5>
    <div class="row">
      <div class="col-12 col-sm-6">
        <p class="card-text">
          <%= t("this_week") %>: <%= WorkTime.in_hours(account.work_times.sum(:minutes)) %>
          <br />
          <%= t("this_month") %>: <%= account.work_times.sum(:minutes) %>
          <br />
          <%= t("this_year") %>: <%= account.work_times.sum(:minutes) %>
        </p>
      </div>
      <div class="col-12 col-sm-6">
        <p class="card-text">
          <%= link_to Account.human_attribute_name("edit_account"), edit_account_path(account), class: "", data: { cy: "select_this_account" } %>
          <br />
          <%= link_to t("manage_categories"), manage_categories_account_path(account), data: { cy: "manage_categories" } %>
          <br />
          <%= link_to t("my_accounts"), my_accounts_accounts_path %>
        </p>
      </div>
    </div>

  </div>
</div>
