<div class="standard-card ">
  <div class="card-body">
    <h5 class="card-title"><%= account.name %></h5>
    <div class="row">
      <div class="col-12 col-sm-6">
        <p class="card-text">
          <%= t("this_week") %>: <%= WorkTime.in_hours(account.work_times.where(datetime: Date.today.beginning_of_week..Date.today.end_of_week).sum(:minutes)) %> / <%= WorkTime.in_hours(account.work_load_per_week) %>
          <br />
          <%= t("this_month") %>: <%= WorkTime.in_hours(account.work_times.where(datetime: Date.today.beginning_of_month..Date.today.end_of_month).sum(:minutes)) %> / <%= WorkTime.in_hours(account.work_load_per_week*(((Date.today.end_of_month - Date.today.beginning_of_month).to_f / 7).round(2))) %>
          <br />
          <%= t("this_year") %>: <%= WorkTime.in_hours(account.work_times.where(datetime: Date.today.beginning_of_year..Date.today.end_of_year).sum(:minutes)) %> / <%= WorkTime.in_hours(Account.calculate_work_load_in_duration(account.work_load_per_week, Date.today.beginning_of_year, Date.today.end_of_year)) %>
          <br />
          <%= t("altogether").capitalize %>: <%= WorkTime.in_hours(account.work_times.sum(:minutes)) %> 
        </p>
      </div>
      <div class="col-12 col-sm-6">
        <p class="card-text">
          <%= link_to Account.human_attribute_name("edit_account"), edit_account_path(account), class: "", data: { cy: "select_this_account" } %>
          <br />
          <%= link_to t("manage_categories"), manage_categories_account_path(account), data: { cy: "manage_categories" } %>
          <br />
          <%= link_to t("my_accounts"), my_accounts_accounts_path %>
        </p>
      </div>
    </div>

  </div>
</div>
