<main class="container main_left">
  <h1><%= t("manage_categories") %></h1>
  <%= link_to t("back"), account_path(account), class: "secondary-button", data: { cy: "back" } %>

  <hr>

    <% account.categories.each do |category|  %>
      <div>
        <h2><%= category.name %></h2>
        <%= link_to t("edit"), edit_category_path(category), data: { cy: "edit_category" } %>
        <%= link_to t("delete"), category, method: :delete, data: { cy: "delete_category", confirm: 'Are you sure?' } %>
        <%= render "select_options/table", category: category %>
      </div>
      <hr>
    <% end %>

    <div class="standard-card ">
      <div class="card-body">
        <h5 class="card-title"><%= Category.human_attribute_name("add", category: Category.model_name.human) %></h5>
        <p class="card-text">
          <%= render 'categories/form', category: Category.new, account: account %>
        </p>
      </div>
    </div>

  <%= link_to t("back"), account_path(account), class: "secondary-button", data: { cy: "back" } %>

</main>
