<div class="container">
  <h1><%= t("my_accounts") %></h1>
  <p class="lead">
    <%= t("please_select_account", account: Account.model_name.human) %>
  </p>
</div>

<div class="container mb-2">
  <div class="row row-cols-1 row-cols-md-3 g-3">
      <% user.accounts.each do |account| %>
      <div class="col">
        <div class="card mb-3 h-100">
            <%#= image_tag("account_placeholder.jpg", class: "img-fluid rounded-start") %>
          <div class="card-body">
            <h5 class="card-title"><%= account.name %></h5>
            <p class="card-text">
              <%= t("this_week") %>: <%= account.work_times.sum(:minutes) %>
              <br />
              <%= t("this_month") %>: <%= account.work_times.sum(:minutes) %>
              <br />
              <%= t("this_year") %>: <%= account.work_times.sum(:minutes) %>
            </p>
            <%= link_to t("select"), account_path(account), class: "primary-button", data: { cy: "select_account" } %>
            <%#= link_to Account.human_attribute_name("edit_account"), edit_account_path(account), class: "secondary-button", data: { cy: "select_this_account" } %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col">
      <div class="card mb-3 h-100">
          <%#= image_tag("new_account_placeholder.jpg", class: "img-fluid rounded-start") %>
        <div class="card-body">
          <p class="card-text">
          <%= link_to Account.human_attribute_name("create_new_account"), new_account_path, class: "primary-button", data: { cy: "select_this_account" } %>
        </div>
      </div>
    </div>
  </div>
</div>
