
    <p class="card-text">
      <button type="button" data-start_date="<%= Date.today.beginning_of_week.strftime("%d-%m-%Y") %>" data-end_date="<%= Date.today.end_of_week.strftime("%d-%m-%Y") %>" class="date_range_button set_date_range_button"><%= t("this_week") %></button>
      <button type="button" data-start_date="<%= Date.today.beginning_of_month.strftime("%d-%m-%Y") %>" data-end_date="<%= Date.today.end_of_month.strftime("%d-%m-%Y") %>" class="date_range_button set_date_range_button"><%= t("this_month") %></button>
      <button type="button" data-start_date="<%= Date.today.beginning_of_year.strftime("%d-%m-%Y") %>" data-end_date="<%= Date.today.end_of_year.strftime("%d-%m-%Y") %>" class="date_range_button set_date_range_button"><%= t("this_year") %></button>
      <button class="date_range_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <%= t("select_date_range") %>
      </button>
    </p>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text"><%= t("start_date") %></span>
              <input type="text" id="work_time_start_date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text"><%= t("end_date") %></span>
              <input type="text" id="work_time_end_date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
        <button type="button" class="primary-button select_date_range_button"><%= t("apply_date_range") %></button>      </div>
    </div>


<script type="text/javascript">

  $(document).ready(function() {

    $( ".select_date_range_button" ).click(function() {
      window.location.replace("<%= account_path(account) %>" + "/" + $('#work_time_start_date').val() + "/" + $('#work_time_end_date').val());
    });

    $( ".set_date_range_button" ).click(function() {
      window.location.replace("<%= account_path(account) %>" + "/" + $(this).data("start_date") + "/" + $(this).data("end_date"));
    });

    $( ".select_date_range_buttonx" ).click(function() {
      $.ajax({
        url: "<%= area_chart_data_account_path(@account) %>",
        method: 'GET',
        data: {
          id: account.id,
          interval: "P1M"
        }
      }).always(function( data ) {
        $(container).empty();
        //draw(container, data);
        AreaChart2(container, data);
      });
    });

    $( function() {
      $("#work_time_start_date").datepicker({'language' : 'de', 'dateFormat' : 'dd-mm-yy', firstDay: 1 });
      $("#work_time_end_date").datepicker({'language' : 'de', 'dateFormat' : 'dd-mm-yy', firstDay: 1 });
      $("#work_time_start_date").datepicker( "setDate" , '<%= start_date.strftime("%d-%m-%Y") %>' );
      $("#work_time_end_date").datepicker( "setDate" , '<%= end_date.strftime("%d-%m-%Y") %>' );

    } );

  });

</script>
