<div class="container">
  <div class="account-button">
    <strong><%= Account.model_name.human %>: </strong>
    <%= account.name %>
  </div>
<p>
  <%= render 'work_times/form', work_time: WorkTime.new, account: account %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col"><%= WorkTime.human_attribute_name("created_at") %></th>
      <th scope="col"><%= WorkTime.human_attribute_name("task") %></th>
      <th scope="col"><%= WorkTime.human_attribute_name("time") %></th>
      <th scope="col"><%= t("actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% WorkTime.where(account_id: account.id).each do |work_time| %>
    <tr>
      <td><%= l(work_time.created_at, format: :short) %></td>
      <td><%= work_time.task %></td>
      <td><%= WorkTime.in_hours(work_time.minutes) %></td>
      <td><%= link_to t("edit"), edit_work_time_path(work_time) %> | <%= link_to t("delete"), work_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    <tr class="table-secondary">
      <td>Total </td>
      <td><%= WorkTime.where(account_id: account.id).count %> <%= WorkTime.human_attribute_name("tasks") %></td>
      <% sum_of_all_minutes = WorkTime.where(account_id: account.id).sum(:minutes) %>
      <td>
        <%= WorkTime.in_hours(sum_of_all_minutes) %>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_account_path(account) %> |
<%= link_to 'Back', accounts_path %>
</div>

<script type="text/javascript">
    const hierarchy = d3.hierarchy(data);
</script>
