<div class="container">
<p>
  <strong>Account:</strong>
  <%= @account.name %>
</p>
<p>
  <%= render 'work_times/form', work_time: WorkTime.new, account: @account %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col"><%= WorkTime.human_attribute_name("created_at") %></th>
      <th scope="col"><%= WorkTime.human_attribute_name("task") %></th>
      <th scope="col"><%= WorkTime.human_attribute_name("minutes") %></th>
    </tr>
  </thead>
  <tbody>
    <% WorkTime.where(account_id: @account.id).each do |work_time| %>
    <tr>
      <td><%= l(work_time.created_at, format: :short) %></td>
      <td><%= work_time.task %></td>
      <td><%= work_time.minutes %></td>
    </tr>
    <% end %>
    <tr class="table-secondary">
      <td></td>
      <td>Total: </td>
      <td><%= WorkTime.where(account_id: @account.id).sum(:minutes)  %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
</div>
